spring:
  application:
    name: user-service # This will show in Eureka

  # Database Configuration
  datasource:
    url: jdbc:postgresql://localhost:5432/ash7nly_db?currentSchema=user_service
    username: admin
    password: password
    driver-class-name: org.postgresql.Driver

  # JPA/Hibernate Configuration
  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        default_schema: user_service
        format_sql: true
    show-sql: true

server:
  port: 8081 # <--- Changed from 0 to 8081

# Actuator endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always

# Application Configuration
application:
  security:
    jwt:
      secret-key: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000 # 1 day